.movies {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 200px;
  color: white;
  text-align: left;
  margin: 0.8rem 1rem;

  a {
    height: 278px;
    width: 185px;
    text-align: center;
    img {
      cursor: pointer;
      border-radius: 0.1rem;
      animation: fadeIn 1s ease forwards 0s;
    }
  }

  .movieTitle {
    font-size: 1em;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0.5rem 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
