.container {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  background: rgba(4, 10, 24, 0.98);
  box-shadow: 0 0 0.4rem #040a18;
  z-index: 1;
  display: flex;
  padding: 0 0.5rem;

  .mainTitle {
    flex-grow: 2;
    cursor: default;
  }
  .catagory {
    display: flex;
    a {
      margin: auto 0.5rem;
      text-decoration-line: none;
      .title {
        color: white;
        margin: auto;
        position: relative;
        font-weight: 100;
        font-size: 1.2rem;
        padding: 0.1em;
        border-radius: 5%;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          height: 0.05rem;
          background: white;
          bottom: 0;
          transition: 0.4s;
          width: 1px;
          margin-left: 50%;
          visibility: hidden;
        }

        &:hover::before {
          visibility: visible;
          transform-origin: center;
          transform: scaleX(120);
        }
      }

      button {
        cursor: pointer;
        padding: 0.5em;
        color: white;
        background: none;
        border: 2px solid white;
        border-radius: 0.1rem;
        &:hover {
          background-color: white;
          color: #081327;
        }
      }
    }
  }
}
