.footerContainer {
  width: 100%;
  background-image: linear-gradient(0deg, rgba($color: #000000, $alpha: 0.5), rgba($color: #000000, $alpha: 0));
  display: flex;
  justify-content: center;
  img {
    width: 20%;
  }
}
