*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --color: #f0f0f0;
}
body {
  margin: 0;
  background-image: linear-gradient(to top, #051937, #07162f, #081327, #070f1f, #040a18);
  min-height: 100vh;
}

.App {
  font-family: sans-serif;
  min-height: 100%;
  color: var(--color);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5em;
  color: white;
  background: none;
  border: 2px solid white;
  border-radius: 0.1rem;
  font-weight: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: white;
  color: #081327;
}

button:active:enabled {
  transform: scale(1.1);
}
